.container {
  display: flex;
  color: #fff;
  line-height: 70px;
}

.menu {
  padding: 0 30px;
  display: flex;
  margin: 0 auto;
  background-color: #278457;
}

.item {
  display: flex;
  font-size: 20px;
  padding: 0 30px;
  line-height: 76px;
  align-items: center;
  margin: 0;
  position: relative;
}

.item-1 {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  display: flex;
  height: 100%;
  width: 100%;
}

.item:hover {
  background-color: #e7c9c9;
}

.item:hover .item-1 {
  color: #000;
}

.item::before {
  content: "\1a4b5";
  margin-right: 10px;
}
